# Core framework
fastapi>=0.111.0
uvicorn[standard]>=0.30.0

# Auth + Password
passlib>=1.7.4
bcrypt>=3.2.0,<4.0.0
python-jose>=3.3.0

# Database
SQLAlchemy>=2.0.30

# Validation
pydantic[email]>=2.6.1
email-validator>=2.1.0

# CORS
requests>=2.31.0

# Logging / utils
python-dotenv>=1.0.1
python-multipart>=0.0.9

